<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="frequency" value="15000"/>
    <add key="BindingConfig" value="NetTcpBinding_IPaymentService"/>
    <add key="Host" value="127.0.0.1"/>
    <add key="Port" value="2022"/>
    <add key="TCPServiceEndPoint" value="net.tcp://localhost:8887/IPaymentService/"/>
    <add key="HttpServiceEndPoint" value="http://localhost:8889/IPaymentService/"/>
  </appSettings>
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="IPaymentService.mexBehaviour" name="IPaymentService.PayService">

        <endpoint address="" behaviorConfiguration="web" bindingConfiguration="webHttpBindingWithJsonP" binding="webHttpBinding" contract="IPaymentService.IPayService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
        <endpoint address=""   bindingConfiguration="NetTcpBinding_IPaymentService" binding="netTcpBinding" contract="IPaymentService.IPayService"/>

        <endpoint address="mex1" binding="mexTcpBinding" contract="IMetadataExchange"/>

        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8889/IPaymentService/"/>
            <add baseAddress="net.tcp://localhost:8887/IPaymentService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IPaymentService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" receiveTimeout="00:20:00" sendTimeout="00:20:00" openTimeout="00:20:00" closeTimeout="00:20:00">
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="IPaymentService.Service1Behavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
        <behavior name="IPaymentService.mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <!--set false on deploy-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--set false on deploy-->
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
        </behavior>
        <behavior name="IPaymentService.tcpBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>         
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>